<h2>Add Account</h2>
@model MESACCA.ViewModels.Director.AddAccountViewModel
@{
    ViewData["Title"] = "Add Account";
    String directorCenter = ViewBag.directorCenter;
}
@using (Html.BeginForm("AddAccount", "Director", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*Adding First Name textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        <font color="red">
            @Html.ValidationMessageFor(model => model.FirstName)
        </font>
    </div>
    @*Adding Last Name textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        <font color="red">
            @Html.ValidationMessageFor(model => model.LastName)
        </font>
    </div>
    @*@Adding a inline Account Type dropbox*@
    <div class="form-group">
        <div class="form-inline">
            @Html.LabelFor(model => model.AccountType, new { @class = "col-md-2 control-label" })
            <div class="form-control">
                @Html.DropDownList("AccountType", new List<SelectListItem>
                {
                    new SelectListItem {Text ="Staff", Value="Staff" }
                })
            </div>
            <font color="red">
                @Html.ValidationMessageFor(model => model.AccountType)
            </font>
        </div>
    </div>
    @*Adding a inline Center dropbox*@
    <div class="form-group">
        <div class="form-inline">
            @Html.LabelFor(model => model.Center, new { @class = "col-md-2 control-label" })
            <div class="form-control">
                @Html.DropDownList("Center", new List<SelectListItem>
                {
                    new SelectListItem {Text=directorCenter.ToString(), Value=directorCenter.ToString() },
                })
            </div>
            <font color="red">
                @Html.ValidationMessageFor(model => model.AccountType)
            </font>
        </div>
    </div>
    @*Adding Email textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <div class="col-md-offset-2">
            <small class="text-muted">Example: mesa@yahoo.com</small>
        </div>
        <font color="red">
            @Html.ValidationMessageFor(model => model.Email)
        </font>
    </div>
    @*Adding Phone Number textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        <div class="col-md-offset-2">
            <small class="text-muted">Example: 916-555-5555</small>
        </div>
        <font color="red">
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </font>
    </div>
    @*Adding a label and a table containing a row of check boxes for user rights*@
    <div class="form-group">
        <div class="col-md-3">
            <label>User Is Allowed to Alter</label>
            <table class="table">
                <thead style="font-size: 12px">
                    <tr>
                        @*Table Headings*@
                        <th>
                            @Html.DisplayNameFor(model => model.Home)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.About_Us)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vision_Mission_Values)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MESA_Schools_Program)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MESA_Community_College_Program)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MESA_Engineering_Program)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.News)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Donate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" asp-for="Home" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="About_Us" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Vision_Mission_Values" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="MESA_Schools_Program" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="MESA_Community_College_Program" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="MESA_Engineering_Program" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="News" checked="checked" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Donate" checked="checked" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @*Adding Username textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Username, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        <font color="red">
            @Html.ValidationMessageFor(model => model.Username)
        </font>
    </div>
    @*Adding Password textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        <div class="col-md-offset-2">
            <small class="text-muted">Please use a combination of letters, numbers, symbols</small>
        </div>
        <font color="red">
            @Html.ValidationMessageFor(model => model.Password)
        </font>
    </div>
    @*Adding Confirmation Password textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        <font color="red">
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </font>
    </div>
    @*Adding add account button*@
    <div class="form-group">
        <button style="margin-left:15px" type="submit" class="btn btn-primary">Create Account</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}