@model MESACCA.ViewModels.Member.DeleteAccountViewModel
@{
    ViewData["Title"] = "Delete Account";
}
<h2>Delete Account</h2>
<h3>Are you sure you want to delete this account?</h3>
@if (ViewBag.Message != null)
{
    <span class="text-danger">@ViewBag.Message</span>
}
@using (Html.BeginForm("DeleteAccount", "Member", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*Adding Name textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding Address textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding Location textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.AccountType, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.AccountType, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding Center Type textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Center, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.Center, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding Director Name textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding Office Number textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
    @*Adding URL textfield*@
    <div class="form-group">
        @Html.LabelFor(model => model.Username, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = "readonly", style = "background-color:#CCCCCC" })
    </div>
        <div class="form-actions no-color">
            <button type="submit" name="button" value="delete" class="btn btn-default">Delete</button> |
            <button type="submit" name="button" value="back" class="btn btn-default">Back to List</button>
    </div>
}
