@model IEnumerable<MESACCA.Models.Center>
@{
    ViewData["Title"] = "Manage Centers";
}
<h2>Manage Centers</h2>
@if (ViewBag.Message != null)
{
    if (ViewBag.Message.Contains("error"))
    {
        <span class="text-danger">@ViewBag.Message</span>
    }
    else
    {
        <span class="text-success">@ViewBag.Message</span>
    }
}
@using (Html.BeginForm("ManageCenters", "Member", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @*Adding a create center button*@
    <button type="submit" name="button" value="Add Center" class="btn btn-primary">Add Center</button>
    <button type="submit" name="button" value="Picture Test" class="btn btn-primary">Picture Test</button>
}
@*Adding a hard-coded table*@
<table class="table" style="margin-top:20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*Table information provided by the SQL server from the Users table excluding the Admin with an Edit and Delete
            link for each entry*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CenterType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCenter", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteCenter", new { id = item.ID })

                </td>
            </tr>
        }
    </tbody>
</table>