@model IEnumerable<MESACCA.Models.User>
@{
    ViewData["title"] = "Manage Accounts";
}
<h2>Manage Accounts</h2>
<fieldset>
    @using (Html.BeginForm("ManageAccounts", "Member", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @*Adding a create account button that will be 20 pixels about the search bar and other buttons*@
        <button type="submit" name="button" value="Add Account" class="btn btn-primary">Add Account</button>
        @*Adding textfield and buttons to create a search bar*@
        <label>Name:</label>
        @*Textbox that will be used to search user list*@
        <input type="text" name="name">
        @*Adding a search button that sends the contents of the textbox to the "name" parameter of "ManageAccounts"*@
        <button type="submit" name ="button" class="btn btn-primary">Search</button>
        @*Adding a filter button that sends the "First Name" value to the "sortOrder" parameter of "ManageAccounts"*@
        <button type="submit" name ="button" value="First Name" class="btn btn-primary">Filter by First Name</button>
        @*Adding a filter button that sends the "Last Name" value to the "sortOrder" parameter of "ManageAccounts"*@
        <button type="submit" name ="button" value="Last Name" class="btn btn-primary">Filter by Last Name</button>
    }
</fieldset>
<table class="table">
    <thead>
        <tr>
            @*Table Headings*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @*Table information provided by the SQL server from the Users table excluding the Admin with an Edit and Delete
      link for each entry*@
    @foreach (var item in Model)
    {
        if (item.AccountType.ToString().Equals("Admin") != true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAccount", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteAccount", new { id = item.ID })
                    
                </td>
            </tr>
        }
    }
    </tbody>
</table>