@model MESACCA.Models.BlobData

@{
    ViewBag.Title = "ViewBlob";
}

<h2>ViewBlob</h2>

<div>
    <h4>BlobData</h4>
    <hr />

    <img src="@ViewBag.uploadedImage" title="test completed" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uri_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uri_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.container_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.container_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
