<!DOCTYPE html>
<html>
@Html.Partial("Partials/_HeaderPartial")
<body>
    @Html.Partial("Partials/_NavBarPartial")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("Partials/_FooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

