<!DOCTYPE html>
<html>
<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Html.Partial("Partials/_HeaderPartial")
<body>
    @Html.Partial("Partials/_NavBarPartial")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("Partials/_FooterPartial")


</body>
</html>

