@model MESACCA.ViewModels.News.AddNewsViewModel

@{
    ViewBag.Title = "Add News";
}

<script>
    $(document).ready(function () {
        CKEDITOR.replace('ArticleBody',
            {
                "extraPlugins": 'imagebrowser',
                "imageBrowser_listUrl": "/ckeditor-imagebrowser/demo/images/images_list.json"
            });
    });
</script>

<h2>Add News</h2>

@if (ViewBag.Message != null)
{
    <span>@ViewBag.Message</span>
}

@using (Html.BeginForm("AddNews", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticleTitle, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                @Html.ValidationMessageFor(model => model.ArticleTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArticleBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.ArticleBody, 4, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ArticleBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-2"></div>
        <div class="btn-toolbar">

            <input type="file" ID="File" name="File" />
            <input type="submit" value="Create" class="btn btn-default" />

        </div>



    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
