@model MESACCA.ViewModels.News.SelectNewsViewModel

@{
    ViewBag.Title = "Manage News";
}
<br /><br />
<h2>Add, Edit, or Delete a News Posting</h2>
@if (ViewBag.Message != null)
{
    if (ViewBag.Message.Contains("error"))
    {
        <span class="text-danger">@ViewBag.Message</span>
    }
    else
    {
        <span class="text-success">@ViewBag.Message</span>
    }
}
<br />
<a href="@Url.Action("AddNews", "News")" class="btn btn-primary">Add a News Post</a>
<a href="@Url.Action("ManageSite", "Member")" class="btn btn-primary">Back to Manage Site</a>
<table class="table">
    <thead>
        <tr>
            @*Table Headings*@
            <th>
                Title
            </th>
            <th>
                Summary
            </th>
            <th>
                Date Posted
            </th>
            <th>
                Created By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MESACCA.Models.NewsArticleExtension Article in Model.Articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => Article.ArticleTitle)
                </td>
                <td>
                    @Html.Raw(Article.ArticleBody)
                </td>
                <td>
                    @Html.DisplayFor(m => Article.DateOfArticle)
                </td>
                <td>
                    @Html.DisplayFor(m => Article.AuthorName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditNews", new { id = Article.ArticleID }) |
                    @Html.ActionLink("Delete", "ConfirmDeleteNews", new { id = Article.ArticleID, title = Article.ArticleTitle })

                </td>
            </tr>
        }
    </tbody>
</table>