@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News";
}
<div>
    <div class="container">
        <div class="NewsContainer" style="width: 100%;">

            <div style="font-size:30px; margin-bottom:30px;">
                News and Updates
            </div>

            @foreach (var x in Model)
            {
                <div class="row">
                    <div class="col-md-1"><span class="datecircle">@x.DateOfArticle.ToString("MMM")<br/><span class="datecircleyear">@x.DateOfArticle.ToString("dd")</span></span></div>
                    <div class="col-md-7 text-left">
                        <!-- Header Div ie, who posted, date it was posted Div-->
                        <div class="center-heading">
                            <h2>@x.ArticleTitle</h2>
                            

                           
                            <em>Posted on @x.DateOfArticle.ToString("MM.dd.yyyy") by @x.AuthorName</em>

                        </div>

                        <!-- Content Div-->
                        <span class="center-line"></span>
                            @Html.Raw(x.ArticleBody)

                        <!-- Attachment Div-->
                        @if (x.Attach1URL != "")
                        {
                            <div style="padding-top: 5px;">
                                Download documents related to this article below:<br />
                                <a href="@x.Attach1URL" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"></span> @x.fileName </a>
                            </div>
                        }

                    </div>
                    <div class="col-md-offset-4"></div>
                </div>


            }

        </div>
    </div>
</div>
